# Chapter 02 -- Data Structures

## Topics Covered:

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2002%20--%20Data%20Structures.ipynb#list" a>list </a>

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2002%20--%20Data%20Structures.ipynb#Indexing" a>indexing </a>

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2002%20--%20Data%20Structures.ipynb#tuple" a>tuple </a>

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2002%20--%20Data%20Structures.ipynb#dictionary" a>dictionary </a>

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2002%20--%20Data%20Structures.ipynb#sequences" a>sequences </a>

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2002%20--%20Data%20Structures.ipynb#set" a>set </a>

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2002%20--%20Data%20Structures.ipynb#Resources" a>Resources</a>

In this chapter, we will touch briefly on Python's data structures.  As the name suggests, data structures are containers for data and other objects.  We introduce these objects since they form the building-blocks for other structures discussed in subsequent chapters.

A cursory examination is needed, so a quick review is in order.  Later, you will want to refer back to these since they aid the creation of DataFrames.  DataFrames are built on top of Paython and Numpy modules which are the predominate structure discussed from Chapter 4 until they end. 

As you will soon discover, DataFrames are 2-dimensional structures that have a large number of methods permitting easy manipulation, much like SAS users have become accustomed to manipulating SAS data sets for their reporting and analytical modeling needs.

Python has four main data structures.  There are:
    
    1. list
    2. tuple
    3. set
    4. dictionary

## list

A list contains an ordered collection of items.  You determine the order.  In Python, items in a list are separarated by commas and enclosed in square brackets.  Lists are mutable, meaning you can add,  remove, or alter items.

In [15]:
a_list = ['ale', 'lager', 'stout', 'hefeweizen', 'stout']
print('There are', len(a_list), 'items in "a_list"')

There are 5 items in "a_list"

In the example below, the parameter:

    end=' '

for the print() method suppresses the default new-line character (CR/LF).

In [16]:
print("A list of beers include:")
for i in a_list:
    print(i, end=' ')

A list of beers include:
ale lager stout hefeweizen stout

## Indexing

Python provides indexing methods for a number of objects, including lists.  SAS has a similiar construct \_n\_ for the Data Step.  Both indexing methods act as keys providing access to an individual item (or set of items).  In Python's case, the default start index position is 0, and for SAS it is 1.

The SAS code example in the cell below is an imperfect analogy for a Python list, since the SAS logic uses a variable to hold the beer_type values.  Nonetheless, each program illustrates access to an array 'item' by indexing.

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2005%20--%20Understanding%20Indexes.ipynb">Chapter 05 -- Understanding Indexes"</a> has more details.

Python uses zero as its index start position, in contrast to SAS' \_n\_ which uses an start position of 1.  Almost every example of SAS DO loops, by convention, use a start position of 1.

In [17]:
print('Value for beer type is:', a_list[0])

Value for beer type is: ale

````
    4         data beers;
    5         length beer_type $ 10;
    6         input beer_type $ @@;
    7         
    8         if _n_ = 1 then
    9            put 'Value for beer type is: ' beer_type;
    10        
    11        list;
    12        datalines;

    Value for beer type is: ale
    RULE:     ----+----1----+----2----+----3----+----4----+----5----+----6----+----7----+----8----+-
    13        ale lager stout hefeweizen stout 
````

The next two examples illustrate the append() and sort() methods for a list.  They produce no visible output, so use the print() method to view results.

In [18]:
a_list.append('malt')

In [19]:
a_list.sort(reverse=True)

In [20]:
print("A list of beers include:")
for i in a_list:
    print(i, end=' ')

A list of beers include:
stout stout malt lager hefeweizen ale

In [21]:
print('a_list count for stout is:', a_list.count('stout'))

a_list count for stout is: 2

The example below illustrates Python's flexibility.  Since nearly everything in Python is an object, you can have a list containing other lists.  The built-in len() method provides a method to count the number of items in a list.

In [22]:
b_list = ['ales', 23, a_list]
print(b_list)
print('Item count for b_list is:', len(b_list))

['ales', 23, ['stout', 'stout', 'malt', 'lager', 'hefeweizen', 'ale']]
Item count for b_list is: 3

### tuple

A tuple is similar to a list, but unlike lists, are immutable.   Tuples are defined by a list of comma-separated items inside a set of optional parentheses.  Ledgility of code demands their use, however!  

A common use case for tuples is where Python statements or user-defined functions can assume that the items will not change, for example the names of the months.

In [23]:
dishes = ('eggs', 'green ham', 'biscuits', 'grits', 'steak')
print('The breakfast menu has:', len(dishes), 'items')

The breakfast menu has: 5 items

In [24]:
more_dishes = ('pancakes', 'cupcakes', 'twinkies', 'dishes')
for i in more_dishes:
    print(i, end=' ')

pancakes cupcakes twinkies dishes

The tuple within a tuple remains one that is indexed

In [25]:
len(more_dishes)

4

The index operators behaves similiarly for tuples and lists.  In the example below, access the 4th item in the tuple by specifying more_dishes[3].  For the second item in the second, specify more_dishes[3][1].

In [26]:
print(more_dishes[3][1])

i

How to count all of the items.  1) get the number of items in the tuple: more_dishes.  2) subtract 1 since the 'tuple-within-a-tuple' item is not counted. 3) add the length of the tuple more_dishes starting at position [3]

In [27]:
print('The number of items in more_dishes is:', len(more_dishes)-1+len(more_dishes[3]))

The number of items in more_dishes is: 9

### dictionary

A dictionary provides a look-up method through key/value pairs.  Keys must be unique.  Keys must be immutable objects such as lists, however, values can be either mutable or unmutable objects.

Key/value pairs are specified as:

x = {key1: value1, key2: value2, key_n: value_n}

Create a dictionary

In [29]:
capital = {'Oregon' : 'Salem',
           'Washington' : 'Olympia',
           'California' : 'Sacrament',
           'Nevada' : 'Carson City'
          }
print(type(capital))

<class 'dict'>

Print a dictionary value by key

In [31]:
print('The capital of Nevada is', capital['Nevada'])

The capital of Nevada is Carson City

Add a key/value pair to the dictionary

In [33]:
capital['Colorado'] = 'Denver'

Printing key/value pairs.  String formatting is covered in <a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2003%20%20--%20Data%20Types%20and%20Formatting.ipynb">Chapter 03 -- Data Types and Formatting</a>

In [34]:
print('Number of value/pairs in the dictionary capital is {}:'.format(len(capital)))

Number of value/pairs in the dictionary capital is 5:

In [35]:
del capital['California']

Many Python operations are silent, unless an error is raised.  Check the length of the dictionary following the delete operation.

In [36]:
print('Number of value/pairs in the dictionary capital is {}:'.format(len(capital)))

Number of value/pairs in the dictionary capital is 4:

## sequences

There are three basic sequence types:

    list 
    tuple  
    range
    
A feature for sequences is membership testing.  Using operators such as in, not in, and concatenation, you can test for the presence or absences of values.  

Implict in these examples are boolean values(True False) being returned.  Boolean operators are discussed in <a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2003%20%20--%20Data%20Types%20and%20Formatting.ipynb#Boolean">Chapter 03, Boolean</a> operators.

The precedence order for sequence operations is found <a href="https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range">here.</a>

The example below does an item membership test for the a_list list object.

In [37]:
item = 'ale'
if (item in a_list):
    print('found')
else:
    print('not found')

found

Item membership test in a tuple using the boolean and operator.

In [38]:
item1 = 'eggs' 
item2 = 'cupcakes'
if (item1 and item2 in more_dishes):
    print('found')
else:
    print('not found')

found

A for loop to iterate over the key value pairs in the 'capital' dictionary.

In [39]:
for state, capital in capital.items():
    print('The capital of {} is {}'.format(state, capital))

The capital of Oregon is Salem
The capital of Colorado is Denver
The capital of Nevada is Carson City
The capital of Washington is Olympia

if logic used for membership testing.  Both the for loop and the if/then constructs are covered in Chapter 12, ##XXX

In [40]:
if 'Nevada' in capital:
    print("Nevada's capital:", capital['Nevada'])

Using the boolean not operator for membership test

In [41]:
'California' not in capital

True

## set

A set object is an unordered collection of distinct objects. They are used for membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.  

Another common use case is when the existence of an object is more important than order or obtaining a count of occurences of items.

Membership test using the in operator for a set

In [42]:
months1 = set(['January', 'February', 'March', 'April', 'May', 'June'])

'Jan' in months1

False

copy() method for sets

In [43]:
months2 = months1.copy()

The remove() method for sets to delete an item

In [44]:
months1.remove('February')

The add() method for adding an item to a set

In [45]:
months2.add('July')

The three examples above do not produce any visible output.  The sets Month1 and Month2 are displayed below.

In [46]:
print('The set months1 contains:', months1)
print('The set months2 contains:', months2)

The set months1 contains: {'January', 'April', 'May', 'March', 'June'}
The set months2 contains: {'January', 'June', 'July', 'April', 'February', 'May', 'March'}

Now we can find the intersection of the sets 'months1' and 'months2'

In [47]:
months1 & months2

{'April', 'January', 'June', 'March', 'May'}

Test if the set months2 is a super-set of the set months1

In [48]:
months2.issuperset(months1)

True

## Resources:
    
v3.1.5 <a href="https://docs.python.org/3.1/tutorial/datastructures.html"> Documentation </a> for Data Structures  

<a href="http://www.datacommunitydc.org/blog/2013/07/python-for-data-analysis-the-landscape-of-tutorials"> Python for Data Analysis</a>  The landscape of tutorials describing a range of resources across the web.  While a bit dated, it is useful for getting started and becoming familiar with the wide variety of packages built on top of Python.

<a href="https://python.swaroopch.com"> A Byte of Python</a> ...is a free book on programming using the Python language. It serves as a tutorial or guide to the Python language for a beginner audience. If all you know about computers is how to save text files, then this is the book for you.

<a href="http://cs231n.github.io/python-numpy-tutorial/"> Python Numpy Tutorial </a>  An overview of Nympy by Justin Johnson.

## Navigation

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/tree/master/"> Return to Chapter List </a>